body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style-type: none;
}

.header {
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-piece {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
}

.nav-list {
  margin: 0;
  white-space: nowrap;
}

.list-items {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.address {
  font-style: normal;
}

.contacts-list {
  letter-spacing: 0.02em;
  color: #434455;
  white-space: nowrap;
  margin-left: 332px;
}

.list-items:hover,
.list-items:focus {
  color: #404bbf;
}

.contacts-items {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.contacts-items:hover,
.contacts-items:focus {
  color: #404bbf;
}

.section-first {
  background-color: #2e2f42;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}
.button {
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  justify-content: center;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-second {
  justify-content: center;
}

.title-second {
  visibility: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-second-items {
  justify-content: flex-start;
}
.title-third {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.items-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-third {
  background-color: #f4f4fd;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-second-visible {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-third-items {
  justify-content: center;
  background-color: #fff;
}

.section-fourth {
  justify-content: center;
}
.section-4-items {
  border: 1px solid #e7e9fc;
  background-color: #fff;
}
.footer {
  background: #2e2f42;
  justify-content: center;
}
.footer-logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-left: 156px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-left: 156px;
}
.logo-footer-piece {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
}
